.email {
  border: 1px solid #ada9a9;
  margin-bottom: 1%;
  width: 80%;
  font-size: 0.8rem;
  height: 2rem;
}
.email:focus {
  outline: none;
  border: 1px solid #df19fb;
  box-shadow: 0 0 10px #719ece;
}

.parent {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  height: 100vh;
}

.loginContainer {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26%;
  border-radius: 15px;
  height: 85vh;
  background-color: white;
}

.mainTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.formContainer {
  margin-top: 15%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.error {
  color: red;
  display: flex;
  justify-content: start;
  margin-left: 10%;
  font-size: 0.7rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.submitbutton {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  width: 80%;
  font-size: 0.8rem;
  height: 2rem;
  font-weight: 600;
  color: white;
}

.submitEror {
  font-size: 0.8rem;
  color: red;
  margin-left: 0;
  display: flex;
  justify-content: center;
}

.dividerContainer {
  width: 100%;
  margin-top: 10%;
  font-size: 0.8rem;
}

.facebookIcon {
  font-size: 2rem;
  color: #1769aa;
  cursor: pointer;
}
.googlekIcon {
  font-size: 2rem;
  margin-left: 25px;
  color: #f62d37;
  cursor: pointer;
}
.twitterIcon {
  font-size: 2rem;
  margin-left: 25px;
  color: #2196f3;
  cursor: pointer;
}
.iconsContainer {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.toggelButtonContainer {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.toggelButton {
  color: #2196f3;
  font-size: 0.8rem;
  font-weight: 600;
}

.quessionTitle {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 0.7rem;
  margin-bottom: 0;
}
